/* css6-Nesting-Media-Queries.css */

.card {
  border: 1px solid #ddd;
  padding: 20px;
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .details {
    .title {
      font-size: 20px;
      margin-top: 10px;
    }
    
    .description {
      font-size: 14px;
      color: #666;
    }
  }
  
  @media (max-width: 600px) {
    padding: 10px;
    
    .details {
      .title {
        font-size: 18px;
      }
      
      .description {
        font-size: 12px;
      }
    }
  }
}
